@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@Model Rate
<ul>
    <li>Id:@Model.Id</li>
 <li>Rate Number:@Model.RatingNum</li> 
  <li>Text:@Model.Text</li> 
   <li>Name:@Model.Name</li> 
    <li>Date:@Model.Date</li> 
</ul>
